.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1a120b;
  color: #e5e5cb;
  height: 5vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer {
  display: block;
  font-size: 2em;
}
